<ats_whitelist xmlns="http://www.esgf.org/whitelist">

    <attribute
        type="wheel"
        attributeService="https://{{ attr_service_host }}/esgf-idp/saml/soap/secure/attributeService.htm"
        description="Administrator Group"
        registrationService="https://{{ attr_service_host }}/esgf-idp/secure/registrationService.htm"
    />

</ats_whitelist>
